<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome to fabevy

    {{data}}

    <table border="2">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
                
        </tr>

        {% for i in data %}
        <tr>
            <td>{{i.Title}}</td>
            <td>{{i.Content}}</td>
            <td>{{i.Author}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>